html{
    min-height: 100%;
    position: relative;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */
body {
	background-color: #fff;
}
nav {
	height: 40px;
	width: 100%;
	background: #455868;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-bottom: 2px solid #283744;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #8c99a4;
}
nav a#pull {
	display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
    
    body{
        font-size: 40%;   
    }
    
    .logo img{
            width: 60%;
            height: 60%;
            margin-top: 20px;
            margin-bottom: 90px;
    }
  
}
    


/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}

/************************************************************* EDIT *************************************************************/


/** BODY **/

.middle{
    margin: 10px 100px;   
}

.logo img{
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 90px;
}

/** footer **/
.footer{
    background: #455868;    
    bottom: 0;
    font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
    color: aliceblue;
    position: absolute;
    left: 0;
    height: 30px;
    width: 100%;
    margin-bottom: 0px;
    clear: both;
}

.footer a{
    text-decoration: none;
    color: white;
}

/** Table **/
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family: 'PT Sans', Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family: 'PT Sans', Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}

.tg img{
    height: 100px;
    width: 100px;
}




////////////////////////////////////////////////////////////////*** FORMULAR ***//////////////////////////////////////////////////


.wmfg_layout_3 { color: #ffffff;  }
.wmfg_layout_3, table, .wmfg_textarea { font-family: Verdana, Geneva, sans-serif; font-size: 13px;margin-bottom: 50px; }
.wmfg_layout_3 ul.wmfg_questions { list-style-type: none; margin: 0; padding: 15px; background-color:#95A498;
-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
-moz-box-shadow: 5px 5px 7px #888; -webkit-box-shadow: 5px 5px 7px #888; -webkit-border-bottom-right-radius: 15px;
}
.wmfg_layout_3 ul.wmfg_questions li.wmfg_q { margin: 15px 0; }
.wmfg_layout_3 label.wmfg_label { display: block; margin: 0 0 10px 0; font-size:1.5em; color:#ffffff; }
.wmfg_layout_3 table.wmfg_answers { width: 100%; _width: 97%; border-collapse: collapse; }
.wmfg_layout_3 table.wmfg_answers { vertical-align: top; }
.wmfg_layout_3 table.wmfg_answers td { padding: 2px; vertical-align: top; }
.wmfg_layout_3 table.wmfg_answers td.wmfg_a_td { width: 25px; }
.wmfg_layout_3 .wmfg_text { border: 1px solid #ccc; padding: 4px; font-size: 13px; color: #000000; width: 98.5%; 
background-color: #ffffff;
background:-webkit-gradient(linear,0 0,0 100%,from(#efefef),to(#fff));
background:-moz-linear-gradient(top,#efefef,#fff);
}
.wmfg_layout_3 .wmfg_textarea { border: 1px solid #CCC; padding: 4px; font-size: 13px; color: #000000; width: 98.5%;
background:-webkit-gradient(linear,0 0,0 100%,from(#efefef),to(#fff));
background:-moz-linear-gradient(top,#efefef,#fff);
background-color: #ffffff;
}
.wmfg_layout_3 .wmfg_select { 
border:1px solid #CCCCCC; padding: 3px; font-size: 13px; color: #000000; margin: 0; width: 100%; _width: 97%;
background-color: #ffffff;
background:-webkit-gradient(linear,0 0,0 100%,from(#efefef),to(#fff));
background:-moz-linear-gradient(top,#efefef,#fff);
}
.wmfg_layout_3 .wmfg_btn {
border: 1px solid #ccc; cursor: pointer; font-weight: bold; font-size: 15px; padding: 6px; color: white; letter-spacing: 1px;
-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
-webkit-box-shadow: rgba(0,0,0,0.75) 0px 0px 3px; -moz-box-shadow: rgba(0,0,0,0.75) 0px 0px 3px; box-shadow: rgba(0,0,0,0.75) 0px 0px 3px;
background: -webkit-gradient(linear, left top, left bottom, from(#718079), color-stop(0.5, #889A8E), color-stop(0.5, #889A8E), to(#718079)); 
background: -moz-linear-gradient(top, #718079, #889A8E 50%, #889A8E 50%, #718079);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#718079', endColorstr='#889A8E');
}
.wmfg_layout_3 .wmfg_btn:hover {background: -webkit-gradient(linear, left top, left bottom, from(#8B9892), color-stop(0.5, #A4B2A9), color-stop(0.5, #A4B2A9), to(#8B9892)); 
background: -moz-linear-gradient(top, #8B9892, #A4B2A9 50%, #A4B2A9 50%, #8B9892);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8B9892', endColorstr='#A4B2A9');
}
